<h2>Labitat member system</h2>

<%= flash["notice"] %>

<p>Welcome to the Labitat member system</p>

<p style='color:red'>For information about how to pay and how to get access to the space, please see your <%= link_to "user info", user_info_path %> page.</p>

<p>You have access to the following services.</p>

