<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/st
rict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" lang="en">
  <head>  
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>live.labitat.dk</title>

    <%= javascript_include_tag 'prototype.js' %>
    <%= javascript_include_tag 'live.js' %>

    <%= stylesheet_link_tag 'live.css' %>

  </head>
  
  <body onload='pageInit()'>

    <%= yield %>

  </body>
</html>
