<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/st
rict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" lang="en">
  <head>  
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>live.labitat.dk</title>

    <%= javascript_include_tag 'prototype.js' %>
    <%= javascript_include_tag 'ape-jsf/Build/uncompressed/apeClientJS.js' %>

    <script type='text/javascript'>

      // Configuration for APE

      // Note that apel.labitat.dk and *.apel.labitat.dk points to 127.0.0.1
      // This is needed because ape uses a bunch of subdomains in the form
      // 1.apel.labitat.dk, 2.apel.labitat.dk, etc.
      // in order to bypass certain "per site" connection restrictions in web-browsers
      
      var hostname = '<%= Settings['hostname'] %>';
      var web_port =  <%= Settings['port'] %>;
      var ape_port = <%= Settings['ape_port'] %>;

      APE.Config.baseUrl = 'http://'+hostname+':'+web_port+'/javascripts/ape-jsf'; //APE JSF 
      APE.Config.domain = hostname; 
      APE.Config.server = hostname+':'+ape_port; //APE server URL
      
      (function(){
        for (var i = 0; i < arguments.length; i++)
          APE.Config.scripts.push(APE.Config.baseUrl + '/Source/' + arguments[i] + '.js');
      })('mootools-core', 'Core/APE', 'Core/Events', 'Core/Core', 'Pipe/Pipe', 'Pipe/PipeProxy', 'Pipe/PipeMulti', 'Pipe/PipeSingle', 'Request/Request','Request/Request.Stack', 'Request/Request.CycledStack', 'Transport/Transport.longPolling','Transport/Transport.SSE', 'Transport/Transport.XHRStreaming', 'Transport/Transport.JSONP', 'Core/Utility', 'Core/JSON');

    </script>

    <%= javascript_include_tag 'live.js' %>

    <%= stylesheet_link_tag 'live.css' %>

  </head>
  
  <body onload='pageInit()'>

    <%= yield %>

  </body>
</html>
