
<h3>Money handling</h3>


<p>Here you can:</p>

<ul>
  <li><%= link_to "search/browse payments", admin_money_search_path %></li>
  <li><%= link_to "upload bank-data", admin_money_upload_path %></li>
</ul>

