<h3>New payment</h3>

<% if @payment.errors.full_messages.any? %>
  <ul>
  <% @payment.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_tag admin_money_new_path do %>
  <%= render "payment", :payment => @payment %>
  <%= submit_tag "Save" %>
<% end %>
