<h3>I forgot my password!</h3>

<p style='color:red'><%= flash[:notice] %></p>

<p>Enter you email below to recieve instructions on how to reset your password.</p>

<%= form_tag forgot_password_path, id: "forgot_password" do %>
  <p><label><span>Email: </span><%= text_field_tag "email" %></label></p>
  <p><%= submit_tag "Do it!" %></p>
<% end %>
