<h3>Finalize signup</h3>

<p>In order to complete signup and create your user across all Labitat services (IRC, wiki, mailinglists, etc.) we need your password one more time.</p>

<% form_tag do %>

  <p><label><span>Password: </span><%= password_field_tag 'password' %></label></p>
  <input type='hidden' name='code' value='<%= @auth_code %>' />
  <p><%= submit_tag 'Finalize' %></p>

<% end %>



