<h3>Account verification successful!</h3>

<p>You have successfully signed up as a Labitat member.</p>

<p>You can now <%= link_to "log in to the member site", :controller => "session", :action => "new" %></p>

<% if Rails.configuration.mediawiki_url.present? %>
   <p>A wiki account on <a href='<%= Rails.configuration.mediawiki_url %>'>the Labitat wiki</a> has been automatically created with the your login name and password. Log in <a href='<%= "#{Rails.configuration.mediawiki_url}index.php?title=Special:UserLogin" %>'>here</a>.</p>
<% end %>

<% if Rails.configuration.atheme_server.present? %>
   <p>An IRC account on the Labitat server has been registered with your login name and password. See our <a href='<%= Rails.configuration.mediawiki_url %>index.php/IRC'>IRC help page</a> for more info.</a></p>
<% end %>

