
<script type='text/javascript'>

  function pageInit() {

    ape = new APE.Client();
    ape.load();

    live.init('content', '<%= '/live_files/' %>');
    
  }


</script>


<div id='content'>
    
  <h2 class='title'>APE test</h2>

  <div class='entry'>

    Tralala

  </div>

</div>


<div id='templates'>
  <div id='entry_template'>
      
  </div>
</div>

