

<p><label>Password: <%= password_field :user, :password %></label></p>
<p><label>Repeat password: <%= password_field :user, :password_confirmation %></label></p>

<p><label>Full name: <%= text_field :user, :name %></label</p>
<p><label>Phone: <%= text_field :user, :phone %></label</p>

