
<p>This is a verification-email from Labitat.</p>

<p>To confirm your change of email address you need to click the following link:</p>

<p><%= link_to @verification_link, @verification_link %></p>

<p>If you have not requested this email address change, please disregard this email.</p>