
<p>This is a forgotten password request for Labitat.</p>

<p>To change your password, please to click the following link:</p>

<p><%= link_to @token_link, @token_link %></p>

<p>If you have not requested this password change, please disregard this email.</p>