<p>This is a verification-email from Labitat.</p>

<p>To confirm your Labitat membership you need to follow this link:</p>

<p><a href="<%= @verify_url %>"><%= @verify_url %></a></p>

<p>If you have not signed up for Labitat membership, please disregard this email.</p>