<h3>I forgot my password!</h3>

<% if !@complete %>
<p style='color:red'><%= flash[:notice] %></p>

<p>Enter you email below to recieve instructions on how to reset your password.</p>

<% form_tag do %>

  <p><label><span>Email: </span><%= text_field_tag 'email' %></label></p>
  <p><%= submit_tag 'Do it!' %></p>

<% end %>
<% else %>
<p style='color:green'>Instructions on how to reset your password has been sent by email</p>
<% end %>
