
<h3>Money handling</h3>


<p>Here you can:</p>

<ul>
  <li><%= link_to 'search/browse payments', :action => 'search_payments' %></li>
  <li><%= link_to 'upload bank-data', :action => 'upload_bankdata' %></li>
</ul>

